{% extends 'index.html' %}
{% block body %}
<div class="container">

    <br>
    <br>
    <br>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>
    {% if orden %}
    <table class="table">
        <tr>
            <th>Orden Id</th>
            <th>Estado</th>
            <th>Cliente</th>
        </tr>
        {% for o in orden%}
        <tr>
            <td>{{o.orden_id}}</td>
            <td>{{o.estado}}</td>
            <td>{{o.cliente.nombre}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>


{% endblock body %}