{% extends 'base.html' %}
{% block title %} Iniciar sesión  {% endblock title %} 

{% block body %}
<h1 text="align-center">Inicio de sesión</h1>
<div class ="col-md-12">
    <div style="width: 50%; margin:auto">
        <table class = "table table-striped style"border: 1px solid rgb (8,8,8);>
            <form method="post">
                {% csrf_token %}
                {{ forms.as_p }}
                <input class="btn btn-primary" type="submit" value="Save">
            </form>
        </table>
    </div>
    

</div>


{% endblock body %}
