<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
            <div class= "form-group">
                <label >Nombre de usuario</label>
                <input type="text" placeholder="Nombre de usuario">
            </div>
            <div class= "form-group">
                <label >Contraseña</label>
                <input type="password" placeholder="Contraseña">
            </div>
            <button type="submit">Iniciar Sesión</button>
    </form>
</body>
</html>