.container-fondo{
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 80%;
 

  }
.texto-home{

    position: absolute;
    top: 8rem;
    font-size: 2rem;
    color: aliceblue;
    text-align: center;

  }
