{% extends 'inicio/index.html' %}


{% block title %}
Lista de Agentes
{% endblock title %}


{% block body %}
    {% if  agentes %}    
    <table class="table table-bordered">
        <tr> 
            <th>Correo</th>
            <th>Agente id</th>
            <th>Nombres</th>
            <th>Teléfono</th>
        </tr>
        {% for agente in agentes %}
        <tr>
            <td>{{agente.user.email}}</td>
            <td>{{agente.agente_id}}</td>
            <td>{{agente.user.nombres}}</td>
            <td>{{agente.telefono}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock body %}



</html>